.pad-left-10 {
    padding-left: 10px;
}

.brand-logo {
    font-size: 1.5rem;
}

.dropdown-content li > a > i {
    margin: 0px;
}

.side-nav {
    top: 64px;
    width: 250px;

    .user-view {
        padding: 15px 32px 0;
    }
}

.side-nav li > a > i {
    margin-right: 10px;
}

#main-content {
    margin-left: 250px;
}

@media only screen and (max-width : 992px) {
    #main-content {
        margin-left: 0;
    }
}