<nav class="indigo">
    <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        <a href="#" class="brand-logo pad-left-10">App Name</a>
        <ul id="nav-mobile" class="right" *ngIf="isLoggedIn()">
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">
                    Welcome {{username}}<i class="fa fa-caret-down right"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!"><i class="fa fa-user"></i>Profile</a></li>
    <li><a href="#!"><i class="fa fa-cogs"></i>Settings</a></li>
    <li class="divider"></li>
    <li><a (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
</ul>

<ul id="slide-out" class="side-nav fixed" *ngIf="isLoggedIn()">
    <li>
        <div class="user-view">
            <div class="background indigo lighten-1">
                <img src="../assets/images/user-profile-bg.jpg">
            </div>
            <a href="#!user"><img class="circle" src="../assets/images/user_default.png"></a>
            <a href="#!name"><span class="white-text name">{{username}}</span></a>
            <a href="#!email"><span class="white-text email">{{email}}</span></a>
        </div>
    </li>
    <li *ngFor="let menu of menus" routerLinkActive="active">
        <a class="waves-effect" routerLink="{{menu.route}}"><i [ngClass]="menu.icon"></i> {{menu.label}}</a>
    </li>
</ul>

<div id="main-content">
    <router-outlet></router-outlet>
</div>