<page-header title="User Administration"></page-header>

<div class="pagecontent">
  <div class="row">
      <button type="button" class="btn pink lighten-1"><i class="fa fa-plus left"></i> Add User</button>
  </div>

  <div class="row">
      <p-dataTable [value]="roles" [responsive]="true" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15]">
        <p-column header="#" styleClass="table-index">
          <ng-template let-i="rowIndex" pTemplate="body">{{i + 1}}</ng-template>
        </p-column>
        <p-column field="name" header="Name" sortable="true"></p-column>
        <p-column field="notes" header="Notes" sortable="true"></p-column>
        <p-column field="permissions" header="Permissions" sortable="true"></p-column>
      </p-dataTable>
    </div>
</div>