/* You can add global styles to this file, and also import other style files */
.pageheader {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e4e5e7;
    /* border-radius: 4px; */
}

.pagecontent {
    padding-left: 10px;
    padding-right: 10px;
}

.my-breadcrumb {
    // font-size: 13px;
    padding-left: 10px!important;
}
.my-breadcrumb> ul {
    list-style-type: none;
    margin: 0;
    padding: 2em;
    color: #333;
}
  
.my-breadcrumb > li {
    display: inline-block;
    position: relative;
    padding-right: 2em;
    margin: 0;
}

.my-breadcrumb >li:after {
    content: '>';
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2em;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.my-breadcrumb >li:last-child {
    font-weight: bold;
    color: #337ab7;
}

.my-breadcrumb >li:last-child:after {
    content: '';
}

.my-breadcrumb li > a {
    text-decoration: none;
    display: inline-block;
    color: #333;
    white-space: nowrap;
    padding: 5px 10px 5px 10px;
}

.my-breadcrumb li > a:hover {
    background-color: #ccc;
}

.table-index {
    width: 40px;
    text-align: center;
}

// .ui-dialog-content {
//     height: auto!important;
// }

.ui-dialog-footer {
    padding: 0 !important;
    border: none !important;
    border-top: 1px solid #c7c7c7 !important;
}

.ui-dropdown-filter-container {
    width: 100%;

    input[type=text] {
        border: 1px solid #66afe9 !important;
        box-shadow: none !important;
    }
}

.alert {
    transition: box-shadow .25s;
    padding: 12px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #f3f3f3;
    color: #333;

    &.alert-success {
        background-color: #c8e6c9 ;
        color: #1b5e20 ;
    }

    &.alert-info {
        background-color: #bbdefb ;
        color: #0d47a1 ;
    }

    &.alert-warning {
        background-color: #fff9c4;
        color: #f57f17 ;
    }

    &.alert-danger {
        background-color:  #ffcdd2;
        color: #b71c1c ;
    }

    .close {
        position: absolute;
        top: 50%;
        right: 0.5rem;

        color: inherit;
        margin-top: -18px;
    }
}

.title-line {
    border-bottom: 1px solid #ddd;
    font-size: 18px !important;
}

.card .card-content {
    padding: 24px 12px 24px 12px !important;
}

.pointer {
    cursor: pointer;
}

.blocked-content {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    font-size: 20px;
}